.about {
  width: 1160px;
  margin: 0  auto;
  margin-top: 100px;
  padding: 0;
  position: relative;
}

.about::after {
  width: 660px;
  height: 401px;
  position: absolute;
  content: "";
  top: 20px;
  left: 500px;
  background-image: url("../img/place1@x1.jpg");
  background-position: center;
  z-index: 1;

  @media (max-resolution: $retina-dpi), (max-resolution: $retina-dppx) {
    background-image: url("../img/place1@x2.jpg");
    background-position: center;
  }
}

.about__title {
  width: 370px;
  height: 37px;
  margin: 0;
  margin-top: 70px;
  margin-left: 60px;
  padding: 0;
  font-size: 35px;
  line-height: 49px;
  font-family: "Bebas Neue", "Arial", sans-serif;
  color: $dark-blue;
  text-transform: uppercase;
}

.about__discription {
  width: 279px;
  height: 11px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  display: flex;
  align-items: center;
  color: $dark-blue;
  margin: 0;
  margin-left: 60px;
  margin-top: 25px;
  padding: 0;
}

.about__text {
  width: 355px;
  height: 186px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: $dark-blue;
  margin: 0;
  margin-top: 52px;
  margin-left: 60px;
  margin-bottom: 273px;
  padding: 0;
}

.about__video-preview {
  width: 364px;
  height: 228;
  position: absolute;
  content: "";
  top: 307px;
  left: 435px;
  z-index: 2;
}

.about__video-preview::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 364px;
  height: 228px;
  background: $light-blue-shadow;
  z-index: 3;
}

.about__video-preview::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-image: url("../img/library.svg#video-play");
  background-repeat: no-repeat;
  z-index: 4;
}
