.feedback {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.feedback__title {
  width: 143px;
  height: 37px;
  display: block;
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-size: 33px;
  line-height: 49px;
  letter-spacing: 0.03px;
  text-transform: uppercase;
  color: #102654;
  margin: 0;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 60px;
  padding: 0;
}

.feedback__box {
  display: flex;
  width: 560px;
  height: 242px;
  background: #1c3374;
  align-self: center;
  box-shadow: 0px 0px 40px rgba(28, 51, 116, 0.2);
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}

.feedback__image {
  width: 80px;
  height: 80px;
  margin: 0;
  margin-top: 65px;
  margin-left: 62px;
  padding: 0;
}
.feedback__container{
  display: flex;
  flex-direction: column;
  width: 328px;
  margin: 0;
  padding: 0;
}

.feedback__name {
  width: 180px;
  height: 14px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: $white;
  margin: 0;
  margin-top: 65px;
  margin-left: 30px;
  margin-bottom: 20px;
  padding: 0;
}

.feedback__text {
  width: 328px;
  height: 79px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: $white;
  margin: 0;
  margin-left: 30px;
  padding: 0;
}

.feedback__button {
  width: 16px;
  height: 32px;
  border: none;
}

.button__last {
  background-image: url("../img/library.svg#last-button");
}
