.sale {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.sale__wrapper {
  display: flex;
}

.sale__container {
  width: 560px;
  display: flex;
  margin: 0;
  margin-right: 40px;
  padding: 0;

}

.sale__title {
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-size: 35px;
  line-height: 49px;
  letter-spacing: 0.03px;
  color: #102654;
  text-transform: uppercase;
  margin: 0;
  margin-top: 35px;
  margin-bottom: 50px;
  align-self: center;
  padding: 0;
  flex-grow: 1;
}

.box-year {
  width: 280px;
  height: 462px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: #ed0233;
  flex-grow: 1;
}

.sale__image {
  width: 280px;
  height: 462px;
  margin: 0;
  padding: 0;
}

.box-year_date {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: $white;
  margin: 0;
  margin-left: 45px;
  margin-top: 35px;
  padding: 0;
}

.box-year__image {
  width: 145px;
  height: 50px;
  margin: 0;
  margin-left: 40px;
  margin-bottom: 40px;
  padding: 0;
}

.box-year__discription {
  width: 190px;
  height: 38px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin: 0;
  margin-left: 45px;
  margin-bottom: 195px;
  padding: 0;
}

.box-year__link {
  width: 79px;
  height: 16px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  color: $white;
  text-decoration: none;
  border-bottom: 1px solid $white;
  margin: 0;
  margin-left: 45px;
  padding: 0;
}

.sale__box-team {
  width: 560px;
  height: 462px;
  margin: 0;
  margin-bottom: 100px;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.container__box-team {
  margin-left: 35px;
  display: flex;
  flex-direction: column;
}

.sale__box {
  width: 560px;
  height: 211px;
  background-image: url("../img/border-sale.png");
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.box-team__team{
  margin-bottom: 40px;
}

.box_date {
  width: 230px;
  height: 18px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150px;
  display: flex;
  align-items: center;
  color: #1c3374;
  margin: 0;
  margin-top: 35px;
  margin-left: 35px;
  margin-bottom: 13px;
  padding: 0;
}

.box__discription {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #1c3374;
  margin: 0;
  margin-left: 36px;
  margin-bottom: 70px;
  padding: 0;
}

.box__link {
  width: 78px;
  height: 18px;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  color: #1c3374;
  border-bottom: 1px solid #1c3374;
  margin: 0;
  margin-left: 35px;
  padding: 0;
}
