.subscription {
  width: 1160px;
  margin: 0  auto;
  padding: 0;
  position: relative;
  background-color: $light-grey;
}

.subscription::before {
  position: absolute;
  content: "";
  top: 500px;
  left: 970px;
  width: 321px;
  height: 384px;
  background-image: url("../img/bg_1_desktop@x1.png");
  background-repeat: no-repeat;
  z-index: 1;

  @media (max-resolution: $retina-dpi), (max-resolution: $retina-dppx) {
    background-image: url("../img/bg_1_desktop@x2.png");
  }
}

.subscription__title {
  font-size: 42px;
  line-height: 49px;
  font-family: "Bebas Neue", "Arial", sans-serif;
  color: $dark-blue;
  text-transform: uppercase;
  margin: 0;
  margin-left: 450px;
  margin-top: 120px;
  padding: 0;
}

.period-list {
  position: relative;
  list-style: none;
  display: flex;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  align-items: center;
  color: $dark-blue;
  margin: 0;
  margin-left: 407px;
  margin-top: 35px;
  padding: 0;
}

.period-list__item {
  margin: 0;
  margin-right: 40px;
  padding: 0;
}

.period-list__item::before {
  position: absolute;
  content: "";
  top: 40px;
  left: 0;
  width: 341px;
  height: 1px;
  border: 1px solid rgba(120, 120, 120, 0.2);
}

.period-list__link::after {
  position: absolute;
  content: "";
  top: 40px;
  left: 0;
  width: 67px;
  height: 1px;
  border: 1px solid #d10a42;
}

.price-list {
  width: 1160px;
  margin: 0  auto;
  margin-top: 50px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.price-list__item {
  background-color: $white;
  margin: 0;
  padding: 0;
  width: 360px;
  height: 448px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
}

.price-list__item:hover,
.price-list__item:focus {
  background-image: url("../img/border.png");
}

.price-list__item--focus {
  background-image: url("../img/border.png");
}

.price-list__title {
  margin: 0;
  margin-left: 115px;
  margin-top: 65px;
  padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  color: $dark-blue;
}

.price-list__discription {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: 9px;
  margin-left: 141px;
  padding: 0;
}

.price-list__image {
  width: 122px;
  height: 42px;
  margin: 0;
  margin-top: 88px;
  margin-left: 95px;
  padding: 0;
  z-index: 2;
}

.price-list__image-shadow {
  position: absolute;
  content: "";
  top: 175px;
  left: 75px;
  margin: 0;
  padding: 0;
  width: 203px;
  height: 69px;
  z-index: 1;
}

.price-list__image-bill {
  position: absolute;
  content: "";
  width: 30px;
  height: 42px;
  top: 215px;
  left: 233px;
  z-index: 2;
}

.price-list__button {
  width: 206px;
  height: 64px;
  border: 2px solid #102654;
  margin: 0;
  margin-top: 60px;
  margin-left: 75px;
  padding: 0;
  padding-left: 43px;
  text-transform: uppercase;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05px;
  position: relative;
}

.price-list__button--active {
  width: 206px;
  height: 64px;
  background-image: url("../img/button.png");
  color: $white;
  border: none;
}

.price-list__button:hover {
  width: 206px;
  height: 64px;
  background-image: url("../img/button.png");
  color: $white;
  border: none;
}

@media (max-width: $tablet-width) {
  .subscription {
    width: 768px;
    margin: 0  auto;
    margin-top: 305px;
    padding: 0;
    position: relative;
    background-color: $light-grey;
  }

  .subscription::before {
    position: absolute;
    content: "";
    top: 1460px;
    left: 400px;
    width: 600px;
    height: 405px;
    background-image: url("../img/bg_1--tablet@x1.png");
    background-repeat: no-repeat;
    z-index: 1;

    @media (max-resolution: $retina-dpi), (max-resolution: $retina-dppx) {
      background-image: url("../img/bg_1--tablet@x2.png");
    }
  }

  .subscription__title {
    font-size: 26px;
    line-height: 42px;
    font-family: "Bebas Neue", "Arial", sans-serif;
    color: $dark-blue;
    text-transform: uppercase;
    margin: 0;
    margin-left: 260px;
    margin-top: 105px;
    padding: 0;
  }

  .period-list {
    position: relative;
    list-style: none;
    display: flex;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    color: $dark-blue;
    margin: 0;
    margin-left: 195px;
    margin-top: 23px;
    padding: 0;
  }

  .period-list__item {
    margin: 0;
    margin-right: 55px;
    padding: 0;
  }

  .period-list__item::before {
    position: absolute;
    content: "";
    top: 40px;
    left: 0;
    width: 332px;
    height: 1px;
    border: 1px solid rgba(120, 120, 120, 0.2);
  }

  .period-list__link::after {
    position: absolute;
    content: "";
    top: 40px;
    left: 0;
    width: 60px;
    height: 1px;
    border: 1px solid #d10a42;
  }

  .price-list {
    width: 720px;
    margin: 0  auto;
    margin-top: 55px;
    margin-left: 140px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .price-list__item {
    background-color: $white;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    width: 442px;
    height: 448px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
  }

  .price-list__item:focus {
    background-image: url("../img/border--tablet.png");
    background-repeat: no-repeat;
  }

  .price-list__item--focus {
    background-image: url("../img/border--tablet.png");
    background-repeat: no-repeat;
  }

  .price-list__title {
    margin: 0;
    margin-left: 155px;
    margin-top: 65px;
    padding: 0;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $dark-blue;
  }

  .price-list__discription {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    margin: 0;
    margin-top: 9px;
    margin-left: 180px;
    padding: 0;
  }

  .price-list__image {
    width: 122px;
    height: 42px;
    margin: 0;
    margin-top: 90px;
    margin-left: 135px;
    padding: 0;
    z-index: 2;
  }

  .price-list__image-shadow {
    position: absolute;
    content: "";
    top: 175px;
    left: 115px;
    margin: 0;
    padding: 0;
    width: 203px;
    height: 69px;
    z-index: 1;
  }

  .price-list__image-bill {
    position: absolute;
    content: "";
    width: 30px;
    height: 42px;
    top: 215px;
    left: 274px;
    z-index: 2;
  }

  .price-list__button {
    width: 206px;
    height: 64px;
    border: 2px solid #102654;
    margin: 0;
    margin-top: 60px;
    margin-left: 117px;
    padding: 0;
    padding-left: 43px;
    text-transform: uppercase;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05px;
    position: relative;
  }

  .price-list__button--active {
    width: 206px;
    height: 64px;
    background-image: url("../img/button.png");
    color: $white;
    border: none;
  }

  .price-list__button:hover {
    width: 206px;
    height: 64px;
    background-image: url("../img/button.png");
    color: $white;
    border: none;
  }
}

@media (max-width: $mobile-width) {
  .subscription {
    width: $mobile-width;
    margin: 0  auto;
    margin-top: 315px;
    padding: 0;
    position: relative;
  }

  .subscription::before {
    display: none;
  }

  .subscription__title {
    font-size: 20px;
    line-height: 32px;
    font-family: "Bebas Neue", "Arial", sans-serif;
    color: $dark-blue;
    text-transform: uppercase;
    margin: 0;
    margin-left: 70px;
    margin-top: 115px;
    padding: 0;
  }

  .period-list {
    width: 290px;
    position: relative;
    list-style: none;
    display: flex;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    color: $dark-blue;
    margin: 0;
    margin-top: 18px;
    padding: 0;
  }

  .period-list__item {
    width: 93px;
    height: 11px;
    margin: 0;
    margin-right: 15px;
    padding: 0;
  }

  .period-list__item::before {
    position: absolute;
    content: "";
    top: 40px;
    left: 0;
    width: 290px;
    height: 1px;
    border: 1px solid rgba(120, 120, 120, 0.2);
  }

  .period-list__link::after {
    position: absolute;
    content: "";
    top: 40px;
    left: 0;
    width: 60px;
    height: 1px;
    border: 1px solid #d10a42;
  }

  .price-list {
    width: 720px;
    margin: 0  auto;
    margin-top: 60px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
  }

  .price-list__item {
    background-color: $white;
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
    width: 290px;
    height: 384px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
  }

  .price-list__item:focus {
    background-image: url("../img/border--tablet.png");
    background-repeat: no-repeat;
  }

  .price-list__item--focus {
    background-image: url("../img/border--tablet.png");
    background-repeat: no-repeat;
  }

  .price-list__title {
    margin: 0;
    margin-left: 90px;
    margin-top: 57px;
    padding: 0;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $dark-blue;
  }

  .price-list__discription {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    margin: 0;
    margin-top: 5px;
    margin-left: 110px;
    padding: 0;
  }

  .price-list__image {
    width: 98px;
    height: 33px;
    margin: 0;
    margin-top: 75px;
    margin-left: 80px;
    padding: 0;
    z-index: 2;
  }

  .price-list__image-shadow {
    position: absolute;
    content: "";
    top: 160px;
    left: 65px;
    margin: 0;
    padding: 0;
    width: 162px;
    height: 55px;
    z-index: 1;
  }

  .price-list__image-bill {
    position: absolute;
    content: "";
    width: 24px;
    height: 33px;
    top: 190px;
    left: 190px;
    z-index: 2;
  }

  .price-list__button {
    width: 206px;
    height: 64px;
    border: 2px solid #102654;
    margin: 0;
    margin-top: 50px;
    margin-left: 40px;
    padding: 0;
    padding-left: 43px;
    text-transform: uppercase;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05px;
    position: relative;
  }

  .price-list__button--active {
    width: 206px;
    height: 64px;
    background-image: url("../img/button.png");
    color: $white;
    border: none;
  }

  .price-list__button:hover {
    width: 206px;
    height: 64px;
    background-image: url("../img/button.png");
    color: $white;
    border: none;
  }
}
