.subscription {
  width: 1160px;
  margin: 0  auto;
  padding: 0;
  position: relative;
  background-color: $light-grey;
}

.subscription::before {
  position: absolute;
  content: "";
  top: 500px;
  left: 970px;
  width: 321px;
  height: 384px;
  background-image: url("../img/bg_1_desktop@x1.png");
  background-repeat: no-repeat;
  z-index: 1;

  @media (max-resolution: $retina-dpi), (max-resolution: $retina-dppx) {
    background-image: url("../img/bg_1_desktop@x2.png");
  }
}

.subscription__title {
  font-size: 42px;
  line-height: 49px;
  font-family: "Bebas Neue", "Arial", sans-serif;
  color: $dark-blue;
  text-transform: uppercase;
  margin: 0;
  margin-left: 450px;
  margin-top: 120px;
  padding: 0;
}

.period-list {
  position: relative;
  list-style: none;
  display: flex;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  align-items: center;
  color: $dark-blue;
  margin: 0;
  margin-left: 407px;
  margin-top: 35px;
  padding: 0;
}

.period-list__item {
  margin: 0;
  margin-right: 40px;
  padding: 0;
}

.period-list__item::before {
  position: absolute;
  content: "";
  top: 40px;
  left: 0;
  width: 341px;
  height: 1px;
  border: 1px solid rgba(120, 120, 120, 0.2);
}

.period-list__link::after {
  position: absolute;
  content: "";
  top: 40px;
  left: 0;
  width: 67px;
  height: 1px;
  border: 1px solid #d10a42;
}

.price-list {
  width: 1160px;
  margin: 0  auto;
  margin-top: 50px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.price-list__item {
  background-color: $white;
  margin: 0;
  padding: 0;
  width: 360px;
  height: 448px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
}

.price-list__item:hover,
.price-list__item:focus {
  background-image: url("../img/border.png");
}

.price-list__item--focus {
  background-image: url("../img/border.png");
}

.price-list__title {
  margin: 0;
  margin-left: 115px;
  margin-top: 65px;
  padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  color: $dark-blue;
}

.price-list__discription {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: 9px;
  margin-left: 141px;
  padding: 0;
}

.price-list__image {
  width: 122px;
  height: 42px;
  margin: 0;
  margin-top: 88px;
  margin-left: 95px;
  padding: 0;
  z-index: 2;
}

.price-list__image-shadow {
  position: absolute;
  content: "";
  top: 175px;
  left: 75px;
  margin: 0;
  padding: 0;
  width: 203px;
  height: 69px;
  z-index: 1;
}

.price-list__image-bill {
  position: absolute;
  content: "";
  width: 30px;
  height: 42px;
  top: 215px;
  left: 233px;
  z-index: 2;
}

.price-list__button {
  width: 206px;
  height: 64px;
  border: 2px solid #102654;
  margin: 0;
  margin-top: 60px;
  margin-left: 75px;
  padding: 0;
  padding-left: 43px;
  text-transform: uppercase;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05px;
  position: relative;
}

.price-list__button--active {
  width: 206px;
  height: 64px;
  background-image: url("../img/button.png");
  color: $white;
  border: none;
}

.price-list__button:hover {
  width: 206px;
  height: 64px;
  background-image: url("../img/button.png");
  color: $white;
  border: none;
}
